<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, error voluptas odio sed totam hic, ea ex ipsa alias laudantium esse iure nisi?</p>
    </div>
</section>