
<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app NodeJS y MongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, enim! Quae adipisci voluptas sequi ipsa earum molestias labore, facere, deleniti reiciendis, autem dolores ad. Natus, dolorem porro! Animi, dolorem accusamus.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis exercitationem nam veniam quas in, ad ipsam itaque officiis commodi neque!
    </p>
    <a href="https://github.com/NachoBasilio" id="boton_github"class="btn btn-primary">Mi Github</a>
</div>
