<div class="row">
    {{#each notes}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-item-center">
                    {{title}} <a href="/note/edit/{{_id}}"><i class="fas fa-edit"></i></a>
                    </h4>
                <p>{{description}}</p>
                <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" id="DELETE">
                {{!-- Tenemos un problema muy interezante y es que con ayuda de una libreria, ya que es muy complicado hacer uso de DELETE con un formulario, "method-override" y vamos a hacer peticiones de manera mas simple--}}
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{/each}}
</div>